.row
{
    display: flex;
    background-color: blue;
    height:500px;
    padding: 30px;
    align-items:self-start;
}
.col
{
    flex-basis: 30%;
    text-align: center;
    background-color: gold;
    border: 1px solid white;
}
.col1
{
    height: 400px;
    padding: 5px;
    margin: 5px;
    align-self: self-end;
}